/02-bases/node_modules
/02-bases/dist
/02-bases/coverage
/02-bases/*.log

/03-typeScript/node_modules
/03-typeScript/dist

/04-multiplication/node_modules
/04-multiplication/dist
/04-multiplication/coverage
/04-multiplication/outputs


/05-NOC/node_modules
/05-NOC/dist
/05-NOC/coverage
/05-NOC/outputs
/05-NOC/logs
/05-NOC/.env
/05-NOC/*.log
/05-NOC/mongo-db
/05-NOC/postgres
/05-NOC/mongo-test
/05-NOC/postgres-test

/06-json-server/node_modules

/07-RestWeb/node_modules/
/07-RestWeb/dist/
/07-RestWeb/keys/
/07-RestWeb/.env


logs/
node_modules/
dist/
coverage/
*.log
.env